body{
    background-color: white;
 
}
/* #root{

} */

.header{
/* background-color: #fff; */
padding: 1rem 0rem;
display: flex;
justify-content: center;
align-items: center;
/* position: sticky;
position: -webkit-sticky;
top: 0; */
width: 100vw;

border-bottom: 1px solid #e1e4e8;
margin-top: -1rem;


}
.headerContent{
    margin-left: 9rem;
    

}
.headerIcon{
    margin-right: 2rem;
}
.headerIcon a{
    color: #1b1f23;

}

.headerIcon a:hover{
    color: #1b1f23;
}

.repoNum{
    background-color: rgba(209,213,218,.5);
    border: 1px solid transparent;
    border-radius: 2em;
    min-width: 50px;
    padding: 5px 6px;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    color: #24292e;
}
.container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 1rem;
    padding-top: 2rem;


}
.cardOne{
     /* background-color:pink; */
    width: 20%;
    
}
.cardTwo{
     /* background-color:pink; */
    width: 70%;
   
    
}

.cards{
    background-color: lightsalmon;
    
}
 
.card1{
    /* background-color: cyan; */
    display: flex;
    justify-content: space-between;
   
} 

.star{
    /* background-color: wheat */
}

.theRepo{
    /* background-color: pink; */
}

.avatar{
    width: 70%;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}


.edit{
    background-color: #fafbfc;
    width: 90%;
    padding: 0.5rem;
    outline: none;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    color: #24292e;
    background-color: #fafbfc;
    border-color: rgba(27,31,35,.15);
    box-shadow: 0 1px 0 rgba(27,31,35,.04), inset 0 1px 0 hsla(0,0%,100%,.25);
    margin-bottom: 1rem;
  
}

.follows{

    margin-bottom: 1rem;
}

.find{

   padding : 2rem;
   display: flex;
   flex-direction: row;
}
.find input{
    border-color: #d1d5da;
    padding: 0.5rem;
    width: 45%;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    outline: none;
    margin-right: 1rem;
}
#select{
    padding: 0.5rem 1rem;
    border-radius: 10px;
    outline: none;
    margin-right: 0.5rem;
    background-color: #fff;
}



.new{
    background-color: #2ea44f;
    color: white;
    padding: 0.3rem;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    outline: none;
}


/* 
.cardOne h2{
    text-align: center;
} */

a{
    text-decoration: none;
}
a:hover{
    color:#0366d6;
}
h3{
    color:#0366d6;
}
h3:hover{
    text-decoration: underline;

}
.text-gray-light {
    /* color: #6a737d; */
    color: red;
    
}
/* span{
    text-align: center;
} */

p, span{
    color: #586069
}
small{
    color:#586069;
    padding-top: 1rem;
    margin-top: 5rem
}
small a{
    color:#586069;
    
}

.javascript{
    position: relative;
    top: 1px;
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #f1e05a;
}
.css{
    background-color: #563d7c;
    position: relative;
    top: 1px;
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
}

.html{
    background-color: #e34c26;
    position: relative;
    top: 1px;
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
}


.twitterIcon path{
    background-color: chartreuse;
    width: 10%;
    color: #6a737d;
}

@media only screen and (max-width: 800px) {
    body {
      background-color: lightblue;
    }
    .container{
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        align-content: center;
        justify-content: center;
        padding: 2rem;
    }

    .cardOne,.cardTwo{
        background-color: lime;
        width: 100vw;
    }
  }
