body{
    background-color: white;
 
}
/* #root{

} */

.header{
/* background-color: #fff; */
padding: 1rem 0rem;
display: flex;
justify-content: center;
align-items: center;
/* position: sticky;
position: -webkit-sticky;
top: 0; */
width: 100vw;

border-bottom: 1px solid #e1e4e8;
margin-top: -1rem;


}
.headerContent{
    margin-left: 9rem;
    

}
.headerIcon{
    margin-right: 2rem;
}
.headerIcon a{
    color: #1b1f23;

}

.headerIcon a:hover{
    color: #1b1f23;
}
.container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 1rem;
    padding-top: 2rem;


}
.cardOne{
    /* background-color: red; */
    width: 30%;
    
}
.cardTwo{
    /* background-color:pink; */
    width: 60%;
    
}

.card1{
    background-color: cyan;
}

.card2{
    background-color: chartreuse;
}

.avatar{
    width: 70%;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}


.edit{
    background-color: #fafbfc;
    color: #24292e;
    border: rgba(27,31,35,.15);
    width: 100%;
    padding: 0.5rem;
    outline: none;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}

.find{

   padding : 2rem;
   display: flex;
   flex-direction: row;
}
.find input{
    border-color: #d1d5da;
    padding: 0.5rem;
    width: 45%;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    outline: none;
    margin-right: 1rem;
}
#select{
    padding: 0.5rem 1rem;
    border-radius: 10px;
    outline: none;
    margin-right: 0.5rem;
}

.new{
    background-color: #2ea44f;
    color: white;
    padding: 0.3rem;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    outline: none;
}


/* 
.cardOne h2{
    text-align: center;
} */

a{
    text-decoration: none;
}
a:hover{
    color:#0366d6;
}
h3{
    color:#0366d6;
}
h3:hover{
    text-decoration: underline;

}
small{
    color:#586069;
    padding-top: 1rem;
    margin-top: 5rem
}
small a{
    color:#586069;
    
}

.javascript{
    position: relative;
    top: 1px;
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #f1e05a;
}
.css{
    background-color: #563d7c;
    position: relative;
    top: 1px;
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
}

.html{
    background-color: #e34c26;
    position: relative;
    top: 1px;
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
}


.twitterIcon path{
    background-color: chartreuse;
    width: 10%;
}

@media only screen and (max-width: 800px) {
    body {
      background-color: lightblue;
    }
    .container{
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        align-content: center;
        justify-content: center;
        padding: 2rem;
    }

    .cardOne,.cardTwo{
        background-color: lime;
        width: 100vw;
    }
  }
